@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
}

.topnav {
  overflow: hidden;
  background-color: #6ec6ff;
}
.topnav a {
  float: left;
  display: block;
  color: #9a67ea;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #db7093;
  color: white;
  font-weight: bold;
}

/*cá»™t*/
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
footer {
  background-color: #e9d8f4;
  color: #58257b;
  padding: 5px;
  text-align: center;
}